.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 100%;
}

.header__link:hover {
  opacity: 30%;
  transition: opacity 0.5s linear 0s;
}