.table {
    width: 1100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 0;
    row-gap: 60px;
    z-index: 2;
}
