.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.header__logo {
  left: 64px;
  top: 30px;
}

.logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 228px;
}

.logo__image_header {
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height:  96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 10;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  content: url(../images/header-image.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.description__two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
}

.description__brief {
  width: 175px;
}

.description__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.description__paragraph {
  margin: 0 0;
}

.description__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0 0;
}

.base-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0;
}

.bold-text {
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
}

.section-title__text {
  line-height: 1.15;
  font-size: 60px;
  margin: 0 0;
}

.section-subtitle {
  width: 60%;
  margin-bottom: 60px;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0;
  margin: 0 0;
  row-gap: 60px;
  z-index: 2;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.table__heading {
  line-height: 1.15;
  font-size: 24;
  margin: 0 0;
  z-index: 2;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0;
  z-index: 2;
}

.feynman {
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 890px;
  gap: 70px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 0 0;
  z-index: 1;
}

.feynman__image {
  content: url(../images/feynman.png);
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  alt: "feynman";
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link__text {
  text-decoration: none;
}

.black_background {
  background-color: #1f1f1f;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 160px 0;
  overflow: hidden;
}

.start {
  justify-content: start;
}

.table__cell__width {
  width: 200px;
}

.section-subtitle_dark {
  color: white;
}

.section-title_dark {
  color: white;
}

.table_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.section-subtitle_margin-bottom {
  margin-bottom: 80px;
}

.table_row-gap {
  row-gap: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  content: url(../images/kaufman-triangle.svg);
  z-index: 1;
  position: absolute;
  right: -210px;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  alt: "triangle";
}

.footer {
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  align-items: center;
}

.footer__table {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.footer__logo {
  top: 0;
  left: 0;
}

.logo__image_footer {
  background-image: url(../images/logo_place_footer.svg);
  alt: "footer";
}

.footer__column_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.footer__column_copyrite {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
}

.footer__column-heading {
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-white {
  color: white;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  width: 16px;
  height: 16px;
}

.youtube-link {
  content: url(../images/youtube-icon.svg);
  alt: "youtube";
}

.vk-link {
  content: url(../images/vk_color_white.svg);
  alt: "vk";
}

.tiktok-link {
  content: url(../images/tiktok-icon.svg);
  alt: "tiktok";
}

.footer__text {
  line-height: 30px;
  font-size: 18px;
}
