.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo/logo_place_header.svg);
}

.logo_place_footer {
  background-image: url(../images/logo/logo_place_footer.svg);
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height:  96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 10;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0 0;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0 0;
  max-width: 175px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  max-width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  margin: 0 0 20px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.section-subtitle {
  max-width: 60%;
  margin: 0 0 60px;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0;
  margin: 0 0;
  row-gap: 60px;
  z-index: 2;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  margin: 0 0;
  z-index: 2;
  font-weight: 600;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0;
  z-index: 2;
}

.feynman {
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  gap: 70px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
  margin: 100px 0 0 0;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 0 0;
  z-index: 1;
  font-weight: normal;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-subtitle_theme_dark {
  margin-bottom: 80px;
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
  row-gap: 80px;
}

.table__text_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 1;
  position: absolute;
  right: -210px;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  align-items: center;
  box-sizing: border-box;
}

.footer__columns {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__column-links {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0 0;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  text-decoration: none;
}